{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="wrapper">
            <div class="head">
                <h1>TIC TAC TOE</h1>
                <h3>Welcome to room: {{ game_room.room_name }}</h3>
                <div class="players"></div>
            </div>
            <div id="game_board" room_name={{ game_room.room_name }}>
                <div class="square" data-index='0'></div>
                <div class="square" data-index='1'></div>
                <div class="square" data-index='2'></div>
                <div class="square" data-index='3'></div>
                <div class="square" data-index='4'></div>
                <div class="square" data-index='5'></div>
                <div class="square" data-index='6'></div>
                <div class="square" data-index='7'></div>
                <div class="square" data-index='8'></div>
            </div>
            <div id="alert_move"></div>
        </div>
    </div>

    {{ user.username|json_script:"user" }}
{% endblock content %}
{% block script %}
    <script defer src="{% static "js/game.js" %}"></script>
{% endblock script %}
