{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Welcome {{ user }}</h1>
        {% if not user.is_authenticated %}
            <div>
                <a href="{% url "ttt:login" %}">Login</a><span>/</span>
                <a href="{% url "ttt:register" %}">Register</a>
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url "ttt:logout" %}">Logout</a>
            <form method="post" action="{% url "ttt:create_game" %}">
                {% csrf_token %}
                <label>
                    Game room
                    <input type="text" name="room_name">
                </label>
                <button type="submit">Create game</button>
            </form>
            <div>
                <h1>Game Room List</h1>
                <ul>
                    {% for game_room in game_rooms %}
                        <li>
                            <a href="{% url "ttt:game_room" game_room.room_name %}">{{ game_room.room_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock content %}
